<a href="https://colab.research.google.com/github/PrinceZuko-bs/F1-ML/blob/main/F1_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import csv
import pandas as pd
print('imported modules')

imported modules

In [20]:


with open('f1.csv') as f:
    data=[tuple(line) for line in csv.reader(f)]

print(data[1])

df = pd.read_csv ('f1.csv')

simple_df = df.drop(columns=['number', 'positionText', 'positionOrder', 'points', 'laps', 'time', 'milliseconds', 'fastestLap', 'fastestLapTime', 'fastestLapSpeed', 'statusId'])

#print(simple_df)
df['position'] = pd.to_numeric(df['position'])

tuple_form = list(simple_df.itertuples(index=False, name=None))

#print(tuple_form)

('24966', '1052', '1', '131', '44', '2', '1', '1', '1', '25', '56', '1:32:04', '5523897', '44', '4', '1:34.015', '207.235', '1')